.dropdown-menu {
     background-color: black;
     color: white;
     width: 14.5;
     position: absolute;
     top: 100%;
     left: -40%;
     text-align: center;
     word-wrap: normal;
}

.dropdown-item {
     text-decoration: none;
     color: white;
     display: block;
     z-index: 10;
     padding: 1.15rem 1.6rem;
     text-wrap: nowrap;
}

.dropdown-item:hover {
     background-color: #0089cc;
}
