.header-container {
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     z-index: 200;
     width: 100%;
     background-color: #000000;
}

.nav-bar {
     display: flex;
     align-items: stretch;
     justify-content: space-between;
     height: 4.8rem;
     width: 85%;
     max-width: 140rem;
     background-color: #000000;
}

.nav-link {
     display: flex;
     align-items: center;
     justify-content: center;
}

.menus-container {
     display: flex;
     align-items: stretch;
     justify-content: space-between;
}

.menu-item-container {
     display: flex;
     align-items: center;
     padding-left: 1.6rem;
     padding-right: 1.6rem;
     position: relative;
     text-decoration: none;
}

.menu-item-container:hover {
     background-color: #3b3b3b;
}


.logo {
     padding: 1.6rem 0;
}

.TRT {
     height: 1.6rem;
}

.world {
     height: 1.6rem;
}

.menu-item {
     color: #ffffff;
     font-family: "TRTRegular";
     font-size: 1.2rem;
     font-weight: 700;
     letter-spacing: 0.16rem;
     line-height: 2rem;
}

.dropdown-arrow {
     color: #ffffff;
     scale: 1.3;
}

.live-red-dot {
     color: red;
     scale: 0.65;
}

.mobile-menu-container {
     background-color: #000000;
     padding: 1.4rem;
     margin-left: 1.6rem;
}

.close-icon-container {
     background-color: #000000;
     padding: 1.4rem;
}

.search-icon-container {
     background-color: #0089cc;
     padding: 1.4rem;
     margin-left: 1.6rem;
}

.search-icon-container:hover {
     cursor: pointer;
     opacity: 0.90;
}

.search-icon {
     color: #fdfdfd;
     scale: 1.6;
}

.close-icon {
     color: #ffffff;
     scale: 2.3;
}


.mobile-menu-icon {
     color: #fdfdfd;
     scale: 1.6;
}

.mobile-menu {
     display: none;
}

.mobile-menu-component {
     background-color: #000000;
     opacity: 85%;
     z-index: 150;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     overflow: scroll;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 5rem;
     padding-top: 9rem;
}

.mobile-menu-heading {
     color: white;
     font-family: "TRTRegular";
     font-size: 1.8rem;
}

.larger-menu-item {
     font-size: 1.4rem;
}

@media only screen and (max-width: 66em) {

     .menus-container {
          gap: 0.5rem;
     }

     .nav-bar {
          width: 60%;
     }

     .no-mobile {
          display: none;
     }

     .mobile-menu {
          display: unset;
     }

     .menu-item-container {
          padding-left: 0;
          padding-right: 0;
     }

     .mobile-menu-container {
          margin-left: 0;
     }

     .search-icon-container {
          margin-left: 0;
     }
}

@media only screen and (max-width:49em) {
     .nav-bar {
          width: 75%;
     }
}

@media only screen and (max-width:38em) {
     .nav-bar {
          width: 90%;
     }
}

@media only screen and (max-width:24em) {
     .mobile-menu-component {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

     }
}