* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}


html {
     font-size: 62.5%;
}

@media only screen and (max-width: 94em) {
     html {
          font-size: 52.5%;
     }
}

@media only screen and (max-width: 66em) {
     body::-webkit-scrollbar {
          display: none;
     }
}

@font-face {
     font-family: "trtBold";
     src: local("trtBold"), url("./fonts/TRTBold.ttf");
}

@font-face {
     font-family: "TRTLight";
     src: local("TRTLight"), url("./fonts/TRTLight.ttf");
}

@font-face {
     font-family: "TRTMedium";
     src: local("TRTMedium"), url("./fonts/TRTMedium.ttf");
}

@font-face {
     font-family: "TRTRegular";
     src: local("TRTRegular"), url("./fonts/TRTRegular.ttf");
}